<div></div>

<div class="qa">
    <div class="question">Someone is using clickcount to link to illegal content.</div>
    <div class="answer">These will be removed and IP banned. Please use the form at the bottom of this page to report it.</div>
</div>

<div class="qa">
    <div class="question">What to do if I find a bug or a flaw?</div>
    <div class="answer">Please use the form at the bottom of this page to report it.</div>
</div>

<div class="qa">
    <div class="question">Do you take feature requests?</div>
    <div class="answer">Absolutely! Use the form at the bottom of this page.</div>
</div>

<div class="qa">
    <div class="question">The view page for an individual URL is hard to understand. Can you explain?</div>
    <div class="answer">The data you are seeing is its raw form, with a key-value format. </div>
</div>

<div class="qa">
    <div class="question">The view page for an individual URL shows the clicks as <i>null</i>. Why?</div>
    <div class="answer">The URL is a non-default group. Thus, the clicks are privatized. They can be viewed by using password in the view tab.</div>
</div>

<div class="qa">
    <div class="question">Can the redirection somewhere in the future be interrupted by advertisement?</div>
    <div class="answer">No. Quick redirections are the main goal of this project.</div>
</div>
