<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5-master-15da974/angular-material.css" rel="stylesheet" >
        <link href="https://material.angularjs.org/1.1.0-rc.5-master-15da974/docs.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/clickcount.css" rel="stylesheet">
    </head>
    <body ng-app="ClickCount" ng-cloak>
        <md-toolbar class="md-warn" ng-if="false">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">The backend server will be down for maintenance.</h2>
            </div>
        </md-toolbar>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Click Count</h2>
            </div>
        </md-toolbar>

        <div ng-controller="NavbarController" ng-cloak>
            <md-content>
                <md-tabs md-selected="selectedTab" md-border-bottom="true" md-dynamic-height="true" md-swipe-content="true">
                    <md-tab ng-repeat="item in navbarItems" md-on-select="navTo(item.alias);">
                        <md-tab-label>
                            <md-icon md-font-set="material-icons" class="menu-button">{{item.icon}}</md-icon>{{item.label}}
                        </md-tab-label>
                        <md-tab-body>
                            <div class="content-container" ng-include="item.url"></div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

        <!--<div class="footer-space"></div>-->
        <!--<div class="footer">-->
            <!--<p>ClickCount.se</p>-->
        <!--</div>-->

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
        <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5-master-15da974/angular-material.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

        <script type="text/javascript">
            angular
                .module('ClickCount', ['ngMaterial'])
                .config(function($mdThemingProvider) {
                    $mdThemingProvider.theme('default')
                            .primaryPalette('indigo')
                            .accentPalette('grey');
                });
        </script>

        <script src="services/DataService.js"></script>
        <script src="services/ViewService.js"></script>

        <script src="controllers/NavbarController.js"></script>
        <script src="controllers/AddController.js"></script>
        <script src="controllers/ViewController.js"></script>
    </body>
</html>